.wrapper {
  background-color: rgba(128, 128, 128, 0.07);
  height: calc(100vh - 70px);
  border-radius: 30px;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  column-gap: 30px;
}

.dialogs {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  min-width: fit-content;
}

.dialogsList {
  list-style-type: none;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
  
}
