.wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.headerImage {
  height: 300px;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 20px 20px 10px 10px;
  background-image: url('../../images/userBack.jpg');
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.about {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  box-shadow: 0.3em 0.5em 1em rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.profileAvatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid white;
  margin-left: 50px;
  position: relative;
  top: 30px;
}

.edit {
  align-self: flex-end;
}

.paragraph {
  margin: 0 0 0 5px;
  padding: 0;
}

.userName {
  font-weight: 700;
  font-size: 24px;
}

.userAbout {
  font-weight: 500;
  color: rgba(78,93,120, .7);
}

.edit {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.ico {
  width: 25px;
  cursor: pointer;
}

.editBtn {
  border: 0;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(78,93,120, .2);
  cursor: pointer;
  font-weight: 600;
}

.editBtn:hover {
  background-color: rgba(78,93,120, .3);
}

.content {
  background-color: rgba(128, 128, 128, 0.07);
  border-radius: 30px 30px 0 0;
  padding: 30px;
  display: grid;
  grid-template-columns: 2.1fr 7fr 2fr;
  height: calc(100vh - 540px);

}

.changeBackground {
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 25px;
  margin-right: 30px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
}


.uploadIco {
  width: 20px;
  margin-right: 10px;
}