.header {
}

.headerImage {
  height: 300px;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px 20px 10px 10px;
}

.about {
  position: relative;
  bottom: 130px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid green; */
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 0 rgb(0, 0, 0), 0 0 0 0 rgb(0, 0, 0),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.profileAvatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid white;
}

.edit {
  align-self: flex-end;
}
