.wrapper {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
}

.title {
  margin: 15px 0 15px 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 18px;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0 0 15px 0;
}

.listItem {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 14px;
}

.ico {
  width: 20px;
  margin-right: 10px;
}

.editBtn {
  font-size: small;
  font-weight: 600;
  cursor: pointer;
}
