.app-wrapper {
  margin: 0 auto;
  width: 1600px;
  display: grid;
  justify-content: center;
  grid-template-areas: 
  "header header"
  "navbar main"
  ;
  grid-template-columns: 310px 9fr;
  grid-template-rows: 60px 1fr;
  grid-gap: 10px;
}